//profile
.profile-card {
    background: var(--background-color);
    border-radius: 20px;
    color: var(--text-light);
    width: 350px;
    padding: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
}