//review
.review-container {
    background-color: #f8e4d9;
    padding: 20px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border-radius: 10px;

    .review-header {
        display: flex;
        justify-content: space-between;
        background-color: #6b6b6b;
        padding: 5px;
        border-radius: 0px;
        color: white;
        margin-bottom: 20px;

        h2 {
            margin: 0;
        }

        .back-button {
            background: none;
            border: none;
            color: white;
            font-size: 24px;
            cursor: pointer;
        }
    }

    .review-content {

        display: flex;
        flex-direction: column;



        .room-details {
            // padding: 48px;
            position: relative;
            padding-bottom: 6.4rem;
            position: relative;
            display: flex;
            margin-bottom: 20px;

            img {
                position: absolute;
                width: 34px;
                height: 24px;
            }

            .room-image {
                width: 200px;
                height: 170px;
                margin-right: 20px;
                border-radius: 0;
            }

            .details-text {
                h3 {
                    margin-left: 1px;
                }

                p {
                    margin: 5px 0;
                }
            }
        }

        .booking-info {
            display: flex;
            flex-direction: column;

            .booking-details {
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;

                .booking-item {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .calendar-icon {
                        position: absolute;
                        margin-top: 0.59em;
                        margin-left: 0.59em;
                    }

                    input {

                        border: 1px solid #ccc;
                        padding: 10px;
                        width: 200px;
                        text-align: center;
                        margin-bottom: 10px;


                    }


                }
            }

            .booking-price {
                display: flex;
                justify-content: space-between;
                font-size: 24px;
                margin-bottom: 20px;
            }

            .action-buttons {
                display: flex;
                justify-content: space-between;

                button:hover {
                    background-color: #b3a3a3;
                    color: #0f0f0f;
                    transition: calc(0.5s);
                }

                .home-button,
                .confirm-button {
                    background-color: black;
                    color: rgb(255, 255, 255);
                    border: none;
                    padding: 10px 20px;
                    cursor: pointer;
                    border-radius: 5px;
                    font-size: 16px;
                }
            }
        }
    }
}