:root {
    --background-color: rgba(255, 232, 212, 1);
    --background-light: #fff;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --primary-color: rgb(155, 65, 95);
    --text-color: #0A0A0A;
    --text-light: #575757;
    --font-size: 16px;
    --animation-speed: 1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: var(--background-color);

}

button {
    background-color: black;
    margin-bottom: 1.3rem;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1rem;
}


// margin-bottom: 3rem;

img {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 300px;
    border-radius: 20px;
}



a {
    text-decoration: none;
}



@import 'Partials/navbar.scss';
@import 'Partials/pictureHomeSection.scss';
@import 'Partials/facility.scss';
@import 'Partials/booking.scss';
@import 'Partials/footer.scss';

//Hotel Search
.hotel-search-container {
    background-color: var(--background-color);
    padding: 20px;
    text-align: center;
    min-height: 100vh;



    .header {

        background-size: cover;
        background-position: center;
        border-radius: 20px;
        padding: 70px;
        color: black;

        h1 {
            font-size: 24px;
            font-weight: bold;
            text-align: left;
        }

        .search-bar {
            display: flex;
            justify-content: center;
            margin-top: 20px;

            .search-input {
                padding: 10px;
                font-size: 18px;
                border-radius: 30px;
                border: 1px solid #ccc;
                width: 300px;
            }

            .search-button {
                background-color: white;
                border: none;
                margin-left: -40px;
                cursor: pointer;
                padding: 10px;

                i {
                    font-size: 18px;
                }

            }
        }
    }

    .form-section {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        gap: 20px;

        .dropdown {
            select {
                padding: 10px;
                border-radius: 10px;
                width: 200px;
                background-color: white;
            }
        }
    }

    .search-button-container {
        margin-top: 30px;

        .main-search-button {
            background-color: black;
            color: white;
            padding: 10px 30px;
            border-radius: 50px;
            border: none;
            font-size: 18px;
            cursor: pointer;

            &:hover {
                background-color: #555;
            }
        }
    }
}


.Admin-head {
    color: var(--background-light);
}


.container {
    padding-inline: 3vw;
}

button:hover {
    background-color: #b3a3a3;
    transition: calc(0.5s);
}

.container {
    padding-inline: 4vw;

}

.main {
    margin-top: 5vw;
}